<p><b>商品名：</b><br><%= @item.name %></p>

<p><b>商品詳細：</b><br><%= @item.description %></p>

<p><b>価格：</b><br><%= @item.price %></p>

<p><b>売り手ID：</b><br><%= @item.seller_id %></p>

<p><b>電子メール：</b><br><%= @item.email %></p>

<p><b>イメージ画像URL：</b><br><img src="<%= @item.image_url %>" alt=""></b></p>

<p><a href="/items/<%= @item.id %>/edit">更新する</a></p>
